<<<<<<< HEAD
/* MEDIA QUERIES */
/* PC: min-width: 1024px
Tablet: min-width: 740px max-width: 1023px
Mobile: max-width: 729px */
@font-face {
    font-family: RobotoReg;
    src: url(./font/roboto/Roboto-Regular.ttf);
    font-style: normal;
}
@font-face {
    font-family: RobotoReg;
    src: url(./font/roboto/Roboto-Italic.ttf);
    font-style: italic;
}
@font-face {
    font-family: RobotoBol;
    src: url(./font/roboto/Roboto-Bold.ttf);
    font-style: normal;
}
@font-face {
    font-family: RobotoBol;
    src: url(./font/roboto/Roboto-BoldItalic.ttf);
    font-style: italic;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: RobotoReg;
    font-size: 18px;
    color: #0a0a0a;
    text-decoration: none;
}
body {
    background-color: #f8f6fa;
}
#home {
    /* background-color: darkcyan; */
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#header {
    /* background-color: darkgreen; */
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 80px;
    margin: 16px 0px 0px 0px;
}
#header__avatar {
    /* background-color: darkgoldenrod; */
    width: 64px;
    height: 64px;
    margin: 0px 16px 0px 32px;
    background-image: url(./img/avatar/picasso.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    border: 4px solid #008080;
}
#header__nav {
    /* background-color: darkgrey; */
    display: flex;
    flex-direction: row;
    align-items: center;
}
#header__nav-burger {
    margin-right: 8px;
}
#header__nav-name {
    font-family: RobotoBol;
}
#content {
    /* background-color: darkkhaki; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#content__logo {
    /* background-color: darkolivegreen; */
    width: 240px;
    height: 240px;
    background-image: url(./img/logo/4234142.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#content__menu {
    /* background-color: darkseagreen; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.content__menu-box {
    background-color: #008080;
    padding: 8px 16px 8px 16px;
    margin-bottom: 32px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.content__menu-box:not(:last-child) {
    margin-right: 32px;
}
.content__menu-box-icon {
    margin-right: 8px;
    width:48px;
    height:48px;
}
.content__menu-box-text {
    /* font-family: RobotoBol; */
    color: #f8f6fa;
    font-size: 24px;
    text-transform: uppercase;
}
@media (min-width: 740px) and (max-width: 1023px) {
    
}
@media (max-width: 739px) {
    .content__menu-box:not(:last-child) {
        margin-right: 16px;
    }
    .content__menu-box-icon {
        width:32px;
        height:32px;
    }
    .content__menu-box-text {
        font-size: 18px;
    }
}
#footer {
    background-color: #008080;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
#footer p, #footer a {
    color: #f8f6fa;
}
#footer a {
    text-decoration: underline;
}
#footerLeft {
    margin: 16px 32px 16px 32px;
}
#footerMid {
    margin: 16px 32px 16px 32px;
}
#footerRight {
    margin: 16px 32px 16px 32px;
}
@media (min-width: 740px) and (max-width: 1023px) {
    #footer p, #footer a {
        font-size: 14px;
    }
}
@media (max-width: 739px) {
    #footer p, #footer a {
        font-size: 14px;
    }
    #footerLeft {
        margin: 16px 32px 8px 32px;
    }
    #footerMid {
        margin: 8px 32px 8px 32px;
    }
    #footerRight {
        margin: 8px 32px 16px 32px;
    }
=======
/* MEDIA QUERIES */
/* PC: min-width: 1024px
Tablet: min-width: 740px max-width: 1023px
Mobile: max-width: 729px */
@font-face {
    font-family: RobotoReg;
    src: url(./font/roboto/Roboto-Regular.ttf);
    font-style: normal;
}
@font-face {
    font-family: RobotoReg;
    src: url(./font/roboto/Roboto-Italic.ttf);
    font-style: italic;
}
@font-face {
    font-family: RobotoBol;
    src: url(./font/roboto/Roboto-Bold.ttf);
    font-style: normal;
}
@font-face {
    font-family: RobotoBol;
    src: url(./font/roboto/Roboto-BoldItalic.ttf);
    font-style: italic;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: RobotoReg;
    font-size: 18px;
    color: #0a0a0a;
    text-decoration: none;
}
body {
    background-color: #f8f6fa;
}
#home {
    /* background-color: darkcyan; */
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#header {
    /* background-color: darkgreen; */
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 80px;
    margin: 16px 0px 0px 0px;
}
#header__avatar {
    /* background-color: darkgoldenrod; */
    width: 64px;
    height: 64px;
    margin: 0px 16px 0px 32px;
    background-image: url(./img/avatar/picasso.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    border: 4px solid #008080;
}
#header__nav {
    /* background-color: darkgrey; */
    display: flex;
    flex-direction: row;
    align-items: center;
}
#header__nav-burger {
    margin-right: 8px;
}
#header__nav-name {
    font-family: RobotoBol;
}
#content {
    /* background-color: darkkhaki; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#content__logo {
    /* background-color: darkolivegreen; */
    width: 240px;
    height: 240px;
    background-image: url(./img/logo/4234142.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#content__menu {
    /* background-color: darkseagreen; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.content__menu-box {
    background-color: #008080;
    padding: 8px 16px 8px 16px;
    margin-bottom: 32px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.content__menu-box:not(:last-child) {
    margin-right: 32px;
}
.content__menu-box-icon {
    margin-right: 8px;
    width:48px;
    height:48px;
}
.content__menu-box-text {
    /* font-family: RobotoBol; */
    color: #f8f6fa;
    font-size: 24px;
    text-transform: uppercase;
}
@media (min-width: 740px) and (max-width: 1023px) {
    
}
@media (max-width: 739px) {
    .content__menu-box:not(:last-child) {
        margin-right: 16px;
    }
    .content__menu-box-icon {
        width:32px;
        height:32px;
    }
    .content__menu-box-text {
        font-size: 18px;
    }
}
#footer {
    background-color: #008080;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
#footer p, #footer a {
    color: #f8f6fa;
}
#footer a {
    text-decoration: underline;
}
#footerLeft {
    margin: 16px 32px 16px 32px;
}
#footerMid {
    margin: 16px 32px 16px 32px;
}
#footerRight {
    margin: 16px 32px 16px 32px;
}
@media (min-width: 740px) and (max-width: 1023px) {
    #footer p, #footer a {
        font-size: 14px;
    }
}
@media (max-width: 739px) {
    #footer p, #footer a {
        font-size: 14px;
    }
    #footerLeft {
        margin: 16px 32px 8px 32px;
    }
    #footerMid {
        margin: 8px 32px 8px 32px;
    }
    #footerRight {
        margin: 8px 32px 16px 32px;
    }
>>>>>>> 394f32b (Upload source code 1.0)
}