@font-face {
    font-family: RobotoReg;
    src: url(./font/roboto/Roboto-Regular.ttf);
    font-style: normal;
}
@font-face {
    font-family: RobotoReg;
    src: url(./font/roboto/Roboto-Italic.ttf);
    font-style: italic;
}
@font-face {
    font-family: RobotoBol;
    src: url(./font/roboto/Roboto-Bold.ttf);
    font-style: normal;
}
@font-face {
    font-family: RobotoBol;
    src: url(./font/roboto/Roboto-BoldItalic.ttf);
    font-style: italic;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: RobotoReg;
    font-size: 18px;
    color: #0a0a0a!important;
    text-decoration: none!important;
}
body {
    background-color: #008080!important;
    height: 100vh;
}
footer li {
    font-size: 12px;
}
.dropdown > button, .dropdown:hover > button, .dropdown:active > button {
    background-color: #ffffff!important;
    color: #0a0a0a!important;
}
.dropdown input {
    width: 100%;
    background: none;
    border: 0px;
}
