.view-section {
  margin: auto 64px;
}
.viewWrapperTask {
  display: none;
  margin: auto;
  background-color: #252936;
  padding: 0px 10px 10px 10px;
  border-radius: 10px;
  width: 100%;
}
.viewWrapperTask.show {
  display: flex;
  flex-direction: column;
}
.viewWrapperTask h2 {
  text-align: center;
  padding-top: 16px;
  margin-bottom: 16px;
}
.viewPlit {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
}
.viewPlit > div {
  flex-basis: 45%;
}
.viewWrapperTask ul {
  margin: 0px 0px 16px 0px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.viewWrapperTask li * {
  float: left;
}
.viewWrapperTask li > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.viewWrapperTask li > div > button {
  margin: 4px 0px;
}
.viewWrapperTask li,
.viewWrapperTask h3 {
  clear: both;
  list-style: none;
}

.viewWrapperTask input,
.viewWrapperTask button {
  outline: none;
}

.viewWrapperTask button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  margin: 10px 0 0;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.viewWrapperTask button:hover {
  color: #333;
}

/* Heading */

.viewWrapperTask h3,
.viewWrapperTask label {
  color: #808191;
  font-weight: 700;
  font-size: 15px;
  /* padding: 20px 0 10px; */
  margin: 0;
  text-transform: uppercase;
}
.viewWrapperTask h3 {
  border-bottom: 2px solid #008080;
}
.viewWrapperTask input[type="text"] {
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  height: 32px;
  padding: 10px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.viewWrapperTask input[type="text"]:focus {
  color: #333;
}

/* New Task */

.viewWrapperTask label {
  display: block;
  /* margin: 0 0 20px; */
}

.viewWrapperTask input#new-task {
  float: left;
  width: 318px;
}

.viewWrapperTask p > button:hover {
  color: #0fc57c;
}

/* Task list */

.viewWrapperTask li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 4px 0;
  border-bottom: 1px solid rgba(18, 21, 39, 0.86);
}

.viewWrapperTask li > input[type="checkbox"] {
  margin: 0 10px;
  /* position: relative;
  top: 15px; */
}

.viewWrapperTask li > label {
  font-size: 14px;
}

.viewWrapperTask li > input[type="text"] {
  width: 226px;
}

.viewWrapperTask li > .delete:hover {
  color: #cf2323;
}

/* Completed */

.viewWrapperTask #completed-tasks label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */

.viewWrapperTask ul li input[type="text"] {
  display: none;
}
.viewWrapperTask form ul li input[type="text"] {
  display: block;
}
.viewWrapperTask ul li.editMode input[type="text"] {
  display: block;
}

.viewWrapperTask ul li.editMode label {
  display: none;
}
.viewWrapperTask form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  margin: auto;
}
.viewWrapperTask form h3,
.viewWrapperTask form ul {
  width: 100%;
}
.viewWrapperTask form li,
.viewWrapperTask form div {
  display: flex;
  flex-direction: row;
  width: 100%;
  border: none;
}
.viewWrapperTask form li > label {
  flex-basis: 30%;
  text-transform: none;
}
.viewWrapperTask form li > input,
.viewWrapperTask form li > textarea {
  flex-basis: 70%;
  background-color: #353340;
  border: none;
  border-radius: 5px;
  padding: 4px 8px;
  color: #eee;
  font-size: 16px;
}
.viewWrapperTask form input[type="text"],
.viewWrapperTask form input[type="text"]:focus {
  background-color: #353340;
  color: #eee;
  border: none;
}
.viewWrapperTask form div button {
  width: 100%;
  margin-top: 16px;
  height: 32px;
  background-color: #008080;
  border-radius: 10px;
  font-family: Lato, sans-serif;
  color: #eee;
}
::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
.viewWrapperEmp {
  display: none;
}
.viewWrapperEmp.show {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
  background-color: #252936;
  padding: 0px 10px 10px 10px;
  border-radius: 10px;
  width: 100%;
}
.viewWrapperEmp .empBox {
  background-color: #353340;
  color: #808191;
  display: flex;
  flex-direction: row;
  flex-basis: 30%;
  justify-content: space-around;
  align-items: center;
  margin: 8px 0%;
  border-radius: 10px;
}
.viewWrapperEmp .empBox:hover {
  cursor: pointer;
}
.viewWrapperEmp .empBox > div:nth-child(1) {
  flex-basis: 30%;
  margin: 8px 0px;
}
.viewWrapperEmp .empBox > div:nth-child(1) > img {
  border-radius: 10px;
}
.viewWrapperEmp .empBox > div:nth-child(2) > p {
  line-height: 24px;
}
